.HeroStoreSection {
  color: var(--color-white);
  background-color: #c7bba9;
}

.HeroStoreContainer {
  margin: auto;
}
.HeroStoreContainer h3 {
  color: var(--color-white);
  /* font-family: Karla; */
  font-size: 50px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}


/*  */

