.MyServicesContainer{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: 50px;
}

.MyServicesImg{
  height: fit-content;
  width: 50%;
  max-width: 787px;
}

.MyServices{
  display: flex;
  flex-direction: column;
  gap: 72px;
  width: 50%;
  max-width: 719px;
}

/* Cards Services */
.CardsServicesContainer{
  display: flex;
  flex-direction: column;
  gap: 71px;
}
.CardServices{
  background-color: var(--color-white);
  width: 100%;
  max-width: 719px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.CardServicesHeader{
  color: var(--color-white);
  background-color: var(--color-grey);
  padding: 28px 42px;
  border-radius: 20px 20px 0 0;
}
.CardServicesBody{
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 20px 42px 50px;
}
.CardServicesBody p{
  max-width: 500px;
}

.CardServicesButtonsCont{
  display: flex;
  gap: 50px;
}

.ServicesButton{
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.ServicesButton div:first-child{
  display: grid;
  place-items: center;
  height: 100%;
  padding: 0 21px;
  border: 1px solid var(--color-primary);
  border-radius: 20px 0 0 20px;
}
.ServicesButton div:first-child img{
  height: 27px;
  width: 27px;
  margin: auto;
}
.ServicesButton div:last-child{
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 14px 20px;
  border-radius: 0 20px 20px 0;
}

@media (width < 1300px) {
  .MyServicesContainer{
    flex-direction: column;
  }
  .MyServices{
    gap: 72px;
    width: 100%;
    max-width: none;
  }
  .CardServicesButtonsCont{
    flex-wrap: wrap;
  }
  .MyServicesImg{
    height: fit-content;
    width: 100%;
    max-width: 487px;
    margin-left: auto;
  }
}
@media (width < 520px) {
  .MyServices{
    gap: 32px;
  }
  .CardsServicesContainer{
    gap: 40px;
  }
  .CardServicesHeader{
    padding: 23px 33px;
  }
  .CardServicesBody{
    padding: 20px 33px 40px;
  }
  .CardServices label{
    font-size: 30px;
  }
  .CardServices p{
    font-size: 23px;
  }
  .CardServicesButtonsCont{
    gap: 20px;
  }
  .ServicesButton div{
    font-size: 22px;
  }
  .ServicesButton div:first-child img{
    height: 22px;
    width: 22px;
    margin: auto;
  }
}